<div class="page-login text-center">
    <div>
        <h1>Voting App</h1>
        <form action="/auth/github" method="get">
            <div>
                <input type="submit" value="Login with GitHub" class='btn btn-login'>
            </div>
        </form>
    </div>
</div>
